<!-- ممكن تحطي ده جوه body أو جوه كومبوننت Angular -->
<div class="category-screen">

  <!-- القائمة الجانبية -->
  <aside class="category-sidebar">
    <ul>
      <li class="active">Women Clothing</li>
      <li>Beachwear</li>
      <li>Shoes</li>
      <li>Cell Phones &amp; Accessories</li>
      <li>Men Clothing</li>
      <li>Kids</li>
      <li>Home &amp; Living</li>
      <li>Curve</li>
      <li>Jewelry &amp; Accessories</li>
      <li>Underwear &amp; Sleepwear</li>
      <li>Sports &amp; Outdoors</li>
      <li>Baby &amp; Maternity</li>
      <li>Beauty &amp; Health</li>
      <li>Home Textiles</li>
    </ul>
  </aside>


