<footer class="footer">
  <div class="footer-content">

    <!-- LEFT SIDE -->
    <div class="footer-left">
      <h2 class="footer-title">Eruption Store</h2>

      <ul class="footer-links">
        <li><a href="#">About our Store</a></li>
        <li><a href="#">Shipping Policy</a></li>
        <li><a href="#">Exchange & Return Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

    <!-- RIGHT SIDE -->
    <div class="footer-right">
      <div class="footer-info">
        <p><i class="fa-solid fa-location-dot"></i> Egypt – Cairo</p>
        <p><i class="fa-solid fa-envelope"></i> </p>
        <p><i class="fa-solid fa-phone"></i> 01000000003<p>
      </div>

      <div class="footer-social">
        <a href="#"><i class="fa-brands fa-facebook">facebook</i></a>
        <a href="#"><i class="fa-brands fa-instagram">instagram</i></a>
        <a href="#">tiktok<i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>

  </div>
</footer>
