.register-page {
  height: 100vh;
  width: 100%;
  background-color: #e4e8e9; /* نفس اللون */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.register-box {
  background: white;
  width: 380px;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
}

.register-box input {
  width: 100%;
  height: 45px;
  margin: 10px 0 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back {
  background: #fff;
  border: 1px solid #bbb;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.back:hover {
  background: #f0f0f0;
}

.next {
  background: #5c6bc0;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.next:hover {
  background: #3f4ca3;
}
