.cart-container {
  width: 60%;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.product-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.info {
  flex: 1;
}

.qty-box {
  display: flex;
  align-items: center;
  margin-right: 20px;

  button {
    width: 30px;
    height: 30px;
  }

  span {
    padding: 0 10px;
    font-size: 16px;
  }
}

.total {
  width: 90px;
  font-weight: bold;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* cheakout */

.checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.checkout-btn:hover {
  background-color: #218838;
}
