.nav-tabs {
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Home button on the left */
.left-tabs button {
  background: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

/* Cart + Profile buttons on the right */
.right-tabs {
  display: flex;
  gap: 15px;
}

.right-tabs button {
  background: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

/* Profile button with image */
.profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-btn img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Hover & active state */
.left-tabs button:hover,
.right-tabs button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.active-tab {
  background: blue !important;
  color: white !important;
}


.categories {
  padding: 12px 25px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  background-color: #e4e8e9;
  justify-content: center; 
}

.categories button {
  padding: 10px 22px;
  background: white;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.categories button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.admin-btn {
  background: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.admin-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
