.category-container {
  width: 85%;
  margin: auto;
  padding: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-title {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 600;
}

/* FORM BOX STYLING */
.category-form-card {
  background: #fafafa;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.btn-submit {
  background: #5a67d8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
}

.btn-cancel {
  background: #999;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  margin-top: -5px;
}

/* CATEGORY LIST STYLING */
.categories-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-card {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

.category-img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.category-info h4 {
  font-size: 18px;
  margin: 0;
}

.category-info p {
  margin: 5px 0 0;
  color: #555;
}

.category-actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.btn-update {
  background: #5a67d8;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background: #e53e3e;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.custom-file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.hidden-file-input {
  display: none;
}

.custom-file-btn {
  background: #5a67d8;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.file-name {
  font-size: 14px;
  color: #555;
}
.file-wrapper {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  /* background: #f8f8f8; */
  cursor: pointer;
  position: relative;
}

.file-wrapper:hover {
  background: #f1f1f1;
}

.file-placeholder {
  color: #777;
  font-size: 14px;
}

.file-input-real {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}













