<div class="products-page">

  <h2 class="title">Products</h2>

  <div class="product-box">

    <table class="products-table">
      <thead>
        <tr>
          <th>Variants</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of products">
          <td>
            <div class="variant-row" *ngFor="let v of p.variants">

              <img [src]="v.image" class="variant-img-small">

              <span class="variant-color">{{ v.color }}</span>

            </div>
          </td>
          <td>{{ p.name }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.category?.name }}</td>




          <td class="actions-col">
            <button class="edit-btn" [routerLink]="['/dashboard/edit', p._id]">Edit</button>
            <button class="delete-btn" (click)="deleteProduct(p._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
