<div class="profile-container">

  <h2>User Profile</h2>

  <p><strong>Name:</strong> {{ user?.name }}</p>
  <p><strong>Email:</strong> {{ user?.email }}</p>
  <p><strong>Phone:</strong> {{ user?.phone }}</p>

  <p><strong>Address:</strong></p>

  <div *ngIf="user?.addresses?.length; else noAddress">
    <div *ngFor="let a of user.addresses" class="address-box">
      <p>{{ a.label }} - {{ a.city }} - {{ a.street }}</p>
    </div>
  </div>

  <ng-template #noAddress>
    <p>No addresses added yet.</p>
  </ng-template>

  <button routerLink="/addresses">Manage Addresses</button>
  <button class="logout" (click)="logout()">Logout</button>

</div>
